<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<link rel="shortcut icon" type="image/x-icon" href="/assets/common/favicon.ico">
	<link rel="shortcut icon" type="image/png" href="/assets/common/favicon.png">
	<link rel="apple-touch-icon" href="/assets/common/favicon.png">

	<title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keyword"  content="{% if page.keyword %}{{ page.keyword }}, {% endif %}{{ site.keyword }}">
	
	{% if site.google-plus-id %}<link rel="author" href="https://plus.google.com/{{ site.google-plus-id }}/posts" />{% endif %}
	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ "/css/blog.css" | prepend: site.baseurl }}">

	<!-- Pygments Github CSS -->
	<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

	<!-- Custom Fonts -->
	<link href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="http://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
		<script src="http://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- ga & ba script hoook -->
	<script></script>
</head>
